In [16]:
import pandas as pd

number_of_driver = 80

driver_info_df = pd.DataFrame(columns=['car_num', 'capacity', 'operation_time', 'gps_id'])
driver_info_df['car_num'] = ['D_'+str(i) for i in range(1, number_of_driver+1)]
driver_info_df['capacity'] = 10
driver_info_df['operation_time'] = 24
driver_info_df['gps_id'] = ['G_'+str(i) for i in range(1, number_of_driver+1)]

driver_info_df

   car_num  capacity  operation_time gps_id
0      D_1        10              24    G_1
1      D_2        10              24    G_2
2      D_3        10              24    G_3
3      D_4        10              24    G_4
4      D_5        10              24    G_5
..     ...       ...             ...    ...
75    D_76        10              24   G_76
76    D_77        10              24   G_77
77    D_78        10              24   G_78
78    D_79        10              24   G_79
79    D_80        10              24   G_80

[80 rows x 4 columns]

In [17]:
# write to file
driver_info_df.to_csv("Food_delivery_simulator/Benchmark/Instance_medium/Instance_1/driver_info.csv", index=False)