In [12]:
import pandas as pd

number_of_driver = 100

driver_info_df = pd.DataFrame(columns=['car_num', 'capacity', 'operation_time', 'gps_id'])
driver_info_df['car_num'] = ['D_'+str(i) for i in range(1, number_of_driver+1)]
driver_info_df['capacity'] = 10
driver_info_df['operation_time'] = 24
driver_info_df['gps_id'] = ['G_'+str(i) for i in range(1, number_of_driver+1)]

driver_info_df

   car_num  capacity  operation_time gps_id
0      D_1        10              24    G_1
1      D_2        10              24    G_2
2      D_3        10              24    G_3
3      D_4        10              24    G_4
4      D_5        10              24    G_5
..     ...       ...             ...    ...
95    D_96        10              24   G_96
96    D_97        10              24   G_97
97    D_98        10              24   G_98
98    D_99        10              24   G_99
99   D_100        10              24  G_100

[100 rows x 4 columns]

In [13]:
# write to file
driver_info_df.to_csv("Food_delivery_simulator/Benchmark/Instance_medium/Instance_1/driver_info.csv", index=False)